# Introdução à Ciência de Dados - UFPB
Professor: Yuri Malheiros

## Pandas

A partir do dataset `movies.csv` utilize o Pandas para responder as perguntas:

### Qual o gênero de filme com maior nota do IMDB? E o menor?

In [29]:
import pandas as pd
url = 'https://raw.githubusercontent.com/yurimalheiros/icd/master/datasets/movies.csv'
df = pd.read_csv(url)

In [20]:
df_genres = df[['Title', 'Major Genre', 'IMDB Rating']]
df_genres = df_genres.groupby('Major Genre').mean()
df_genres.sort_values('IMDB Rating', ascending=False)

                     IMDB Rating
Major Genre
Documentary             6.997297
Western                 6.842857
Black Comedy            6.818750
Drama                   6.773442
Musical                 6.448000
Thriller/Suspense       6.360944
Adventure               6.345020
Concert/Performance     6.325000
Action                  6.114796
Romantic Comedy         5.873077
Comedy                  5.853858
Horror                  5.676077

In [30]:
df_genres = df[['Title', 'Major Genre', 'IMDB Rating']]
df_genres = df_genres.groupby('Major Genre').mean()
df_genres.sort_values('IMDB Rating')

                     IMDB Rating
Major Genre
Horror                  5.676077
Comedy                  5.853858
Romantic Comedy         5.873077
Action                  6.114796
Concert/Performance     6.325000
Adventure               6.345020
Thriller/Suspense       6.360944
Musical                 6.448000
Drama                   6.773442
Black Comedy            6.818750
Western                 6.842857
Documentary             6.997297

### Qual o diretor dirigiu mais filmes de drama? E de comédia?

In [21]:
#Filtrei apenas as colunas Director e Major Genre e usei o Values_Counts para ver a incidencia de cada diretor
df_drama = df[df['Major Genre'] == 'Drama']
df_drama = df_drama[['Director', 'Major Genre']]
df_drama.value_counts()

Director           Major Genre
Martin Scorsese    Drama          11
Oliver Stone       Drama          10
Spike Lee          Drama           9
Steven Spielberg   Drama           9
Steven Soderbergh  Drama           6
                                  ..
John Dahl          Drama           1
Justin Lin         Drama           1
Kasi Lemmons       Drama           1
Kathryn Bigelow    Drama           1
Zach Braff         Drama           1
Length: 250, dtype: int64

### Quais filmes tiverem os maiores arrecadações (Gross) em relação ao orçamento de produção (Budget)?

In [39]:
df_profit = df[['Title', 'Production Budget', 'Worldwide Gross']]
df_profit['Profit'] = df_profit['Worldwide Gross'] / df_profit['Production Budget']
df_profit.sort_values('Profit', ascending=False).head(10)

C:\Users\gviei\AppData\Local\Temp\ipykernel_1192\3882870764.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_profit['Profit'] = df_profit['Worldwide Gross'] / df_profit['Production Budget']

,Title,Production Budget,Worldwide Gross,Profit
2526,Paranormal Activity,15000.0,193770453.0,12918.030200
2920,Tarnation,218.0,1162014.0,5330.339450
244,Deep Throat,25000.0,45000000.0,1800.000000
603,Mad Max,200000.0,99750000.0,498.750000
2758,Super Size Me,65000.0,29529368.0,454.297969
132,The Brothers McMullen,25000.0,10426506.0,417.060240
1318,The Blair Witch Project,600000.0,248300000.0,413.833333
531,El Mariachi,7000.0,2040920.0,291.560000
651,Night of the Living Dead,114000.0,30000000.0,263.157895
781,Rocky,1000000.0,225000000.0,225.000000